:root {
  --bg-dark: #0f0f0f;      /* Noir profond type Netflix */
  --accent-purple: #9d50bb; /* Violet clair */
  --text-light: #f5f5f5;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: 'Inter', sans-serif;
}

.btn-primary {
  background-color: var(--accent-purple) !important;
  border: none;
}